bcrypt==4.1.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
exceptiongroup==1.2.1
greenlet==3.0.3
idna==3.7
iniconfig==2.0.0
Naked==0.1.32
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pytest==8.2.2
PyYAML==6.0.1
requests==2.32.3
shellescape==3.8.1
SQLAlchemy==2.0.30
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.1
